@import url(reset.css);
@import url(style.css);

* {
    box-sizing: border-box;
}

#header.page-home {
    background-image: url(../Images/gourmet.jpeg);
}

#header h1 {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 245px;
    text-shadow: 6px 3px 3px black;
    color: rgb(249, 253, 7);
    font-size: 64px;
}


.formulario {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 6px 3px 3px black;
    margin-right: 30px;
}

.regras {
    width: 650px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 6px 3px 3px black;
    margin-left: 50px;
    padding: 10px;
}

.regras p {
    text-align: left;
}

.regras ul li {
    text-align: left;
}

.mainReserve {
    display: flex;
    justify-content: center;
}

