@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 158, 158);
    line-height: 25px;
}

header {
    background: black no-repeat fixed center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 600px;
    position: relative;
    padding-top: 30px;
}

.logo img {
    height: 85px;
}

nav ul, nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    float: right;
    padding: 20px;
}

.logo {
    float: left;
    padding: 20px;
}

#header nav ul, #header nav ul li {
    display: inline;
}

#header nav a:hover, #header nav a .active {
    background-color: rgb(139, 151, 218);
}

#header nav a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: ease 1s;
}

#header h1 {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 245px;
    text-shadow: 6px 3px 3px black;
    color: rgb(249, 253, 7);
}

#header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    line-height: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    background-color: rgb(139, 151, 218);
    color: white;
    display: inline-block;
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    transition: ease 4.5s all;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.row::before .row::after {
    content: "";
    display: table;
}

.row::after {
    clear: both;
}

.row-main {
    display: flex;
}

.sect-main {
    padding: 30px 30px 65px 30px;
    text-align: center;
}

.row-main .col {
    padding-right: 2%;
    padding-left: 2%;
    margin: 30px;
    text-align: justify;
    width: 450px;
    height: 320px;
    border-radius: 15px;
    box-shadow: 6px 3px 3px black;
}


.sect-main h3 {
    text-align: center;
}

/*

.sect-main .col {
    float: left;
    padding: 0 10px;
}

#work .sect-main .col {
    width: calc(100% / 3);
}
*/


#work .btn {
    margin-top: 10px;
}

.sect-main h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    margin: 12px 0px;
}

.subtitle {
    margin-bottom: 50px;
    text-align: center;
}

#footer {
    background-color: rgb(50, 50, 50);
    text-align: center;
    padding: 50px 175px;
}

.sect-footer {
    padding: 30px 0;
    text-align: center;
}

.sect-footer .logo {
    margin-top: -30px;
}

.sect-footer .col {
    float: left;
    padding: 0 10px;
}

#footer .col {
    width: calc(100% / 3);
}

#footer, #footer a {
    color: white;
    text-decoration: none;
}

#footer .social {
    display: inline;
    padding: 0 0 0 15px;
    opacity: 1;
    font-size: 30px;
}

#footer .social a:hover {
    opacity: 0.5;
    transition: ease .5s all;
}

#footer .social a img {
    height: 50px;
    width: 50px;
}

#footer .menu {
    float: none;
    margin-top: -30px;
}